.line-bg {
	background: url(../img/lines/curly-1.png) no-repeat;
	height: 190px;
	width: 940px;
}

.pt-10 {
	padding-top: 10px;
	background: url(../img/lines/curly-670.png) no-repeat;
	background-position: center;
}

.pt-30 {
	padding-top: 30px;
}

.pt-last-30 {
	padding-top: 30px;
}