
$large: "only screen and (min-width: 768px) and (max-width: 959px)";
$medium: "only screen and (min-width: 480px) and (max-width: 767px)";
$small: "only screen and (max-width: 767px)";


footer {
	width: 100%;
	height: 100px;
	top: 100px;
	position: relative;
	background: #777;

	#sharing {
		text-align: center;
		height: 50px;

		ul {
			display: inline-block;
			vertical-align: top;
			margin-top: 20px;

			li {
				display: inline-block;
				vertical-align: top;

				img {
					height: 42px;
					width: 42px;
				}
			}
		}
	}

	#copyright {
		height: 50px;

		p {
			font-size: 14px;
			margin-top: 20px;
			margin-bottom: 0;
			color: #ccc;
			text-align: center;
		}
	}

	@media #{$small} {
		top: 210px;
		height: 115px;
	}
	@media #{$medium} {
		top: 245px;
	}
}






.footer-fulton {
	width: 100%;
	height: 100px;
	top: 100px;
	position: relative;
	background: #777;
}

.footer-gallery {
	width: 100%;
	height: 100px;
	top: 100px;
	position: relative;
	background: #777;
}

.footer-contact {
	width: 100%;
	height: 100px;
	top: 100px;
	position: relative;
	background: #777;
}

.footer-gallery {
	top: 50px;
}

.footer-services {
	top: 100px !important;
}

.footer-contact {
	top: 107px;
}


p#studio-n{
	font-size: 13px;
	color: #ccc;
	text-align: center;
	margin-top: 0 !important;

	a {
		color: #ccc;

		&:hover {
			text-decoration: none;
		}
	}
}


.align-center {
	text-align: center;
}



.gallery-title h1 {
	font-size: 75px;
	margin-top: 40px;
	margin-bottom: 40px;
	margin-left: 20px;
}