body {
	margin: 0;
	padding: 0;
	background: $gray;
	word-wrap: break-word;
	font-family: $standard-font;
	font-weight: normal;
	line-height: 1.5;
	color: $black;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
p,
blockquote,
th,
td {
	margin: 0;
	padding: 0;
}

em,
i {
	font-style: italic;
	line-height: inherit;
}

strong,
b {
	font-weight: bold;
	line-height: inherit;
}

small {
	font-size: 80%;
	line-height: inherit;
}

a img {
	border: 0;
}
