// ---------------------------------------
// |            Media-Queries            |
// ---------------------------------------

// $large: 'only screen and (min-width: 768px) and (max-width: 959px)'; // Grid-Width: 748px
$large: 'only screen and (max-width: 959px)'; // Grid-Width: 748px

// $medium: 'only screen and (min-width: 480px) and (max-width: 767px)'; // Grid-Width: 420px
$medium: 'only screen and (max-width: 767px)'; // Grid-Width: 420px

$small: 'only screen and (max-width: 479px)'; // Grid-Width: 300px



// --------------------------------
// |            Colors            |
// --------------------------------

$gold: #e5b627; // Yellow within the logo
$black: #0a0a0a;
$blue: #405464;
$gray: #777;
