.contact#contact {
	.page-title {
		padding: 0 16px;
	}

	.page-text {
		padding: 0 16px;
		text-align: center;
		margin-bottom: 20px;

		.prose {
			text-align: left;
			display: inline-block;
		}
	}

	.twitter-widget {
		text-align: center;
	}

	.twitter-timeline {
		width: 300px;
		height: 450px;
	}
}

.contact-container {
	background: #fff url('/img/contact/contact-bg2.jpg') center bottom/contain no-repeat;
	border-top: 5px solid #777;
	padding: 20px 0 50px;
}
