.contact#contact {
	.page-title {
		padding: 0 16px;
	}

	.page-text {
		padding: 0 16px;
		text-align: center;

		.prose {
			text-align: left;
			display: inline-block;
		}
	}
}

.contact-container {
	background: #fff url('/img/contact/contact-bg2.jpg') center bottom/contain no-repeat;
	border-top: 5px solid #777;
	padding-top: 20px;
}
