.featured-project#featured-project {
	.featured-project-container {
		background: #fff url('/img/services/services-bg.jpg') center top/contain no-repeat;
		padding-top: 20px;
	}

	.page-title {
		padding: 0 16px;
	}
}

.slider-for img {
	margin: 0 auto;
	max-width: 900px;
	width: 100%;
}

.slider-nav img {
	max-width: 230px;
	height: auto;

	@media #{$large} {
		max-width: 190px;
	}
}

#touch-swipe {
	img {
		width: 100%;
	}
}

.slick-slide {
	padding-top: 15px;
}

.slick-slide.slick-center {
	padding-top: 0;
}

#mouse-swipe {
	@media #{$medium} {
		visibility: hidden;
		display: none;
	}
}

#touch-swipe {
	visibility: hidden;
	display: none;

	@media #{$medium} {
		visibility: visible;
		display: block;
	}
}
