.gallery#gallery {
	.gallery-container {
		background: #fff;
		border-top: 5px solid #777;
		padding: 20px 0 50px;
	}

	.page-title {
		@media #{$medium} {
			text-align: center;
		}
		padding: 0 16px;
	}

	.gallery-thumb {
		max-width: 220px;
		border: none;
		margin: 0 auto 40px;
	}
}
