.gallery#gallery {
	.gallery-container {
		background: #fff;
		border-top: 5px solid #777;
		padding-bottom: 50px;
	}

	.gallery-image-grid {
		text-align: center;
	}
}

.gallery-thumb {
	max-width: 220px;
	border: none;
	margin-bottom: 40px;
}
