.index#index {
	.welcome-text {
		padding: 26px 0 34px;
		background: #fff url('/img/index/bg/ribbon.jpg') center center/750px auto no-repeat;

		.prose {
			text-align: center;
			max-width: 600px;
			margin: 0 auto;
		}
	}

	.link-block {
		border: 3px solid $gray;
		width: 50%;

		@media #{$medium} {
			width: 100%;
		}
	}
}
