.services#services {
	.services-container {
		background: #fff url("/img/services/services-bg.jpg") center top/contain no-repeat;
		padding-top: 20px;
	}

	.page-title {
		padding: 0 16px;
	}
}

// .services-text {
// 	// position: absolute;
// 	// top: 160px;
// 	// left: 10px;
// 	font-size: 24px;
// 	line-height: 1.4;
// 	padding: 20px;
// 	// width: 820px;
// }

// .services-text p {
// 	// padding: 10px;
// 	font-family: 'Helvetica Neue', Arial, sans-serif;
// 	font-weight: 300;
// }
