@import 'typography/_fonts.scss';

p {
	margin: 0 0 1em 0;
}

hr {
	clear: both;
	max-width: 75rem;
	height: 0;
	margin: 1.25rem auto;
	border-top: 0;
	border-right: 0;
	border-bottom: 1px solid #cacaca;
	border-left: 0;
}

a {
	-webkit-text-decoration-skip: initial;
	line-height: inherit;
	color: #1779ba;
	text-decoration: underline;
	cursor: pointer;

	&:hover,
	&:focus {
		color: #1468a0;
		text-decoration: none;
	}
}
