@import 'typography/_fonts.scss';

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
	line-height: 1.4;
	font-style: normal;
	font-weight: normal;
	color: inherit;
	text-rendering: optimizeLegibility;
	margin-bottom: .5rem;
}

p {
	font-size: $p;
	margin-bottom: 1rem;
	line-height: 1.6;
	text-rendering: optimizeLegibility;
}

p.lead {
	font-size: $p * $lead-value;
}

.title-font {
	font-family: $title-font;
	font-weight: normal;
}

hr {
	clear: both;
	max-width: 75rem;
	height: 0;
	margin: 1.25rem auto;
	border-top: 0;
	border-right: 0;
	border-bottom: 1px solid #cacaca;
	border-left: 0;
}

a {
	-webkit-text-decoration-skip: initial;
	line-height: inherit;
	color: #1779ba;
	text-decoration: underline;
	cursor: pointer;

	&:hover,
	&:focus {
		color: #1468a0;
		text-decoration: none;
	}
}

h1,
.h1 {
	font-size: $h1;
	font-weight: 300;
}

h2,
.h2 {
	font-size: $h2;
	font-weight: 300;
}

h3,
.h3 {
	font-size: $h3;
}

h4,
.h4 {
	font-size: $h4;
}

h5,
.h5 {
	font-size: $h5;
}

h6,
.h6 {
	font-size: $h6;
}

@media #{$medium} {
	h1,
	.h1 {
		font-size: $h1-medium;
	}

	h2,
	.h2 {
		font-size: $h2-medium;
	}

	h3,
	.h3 {
		font-size: $h3-medium;
	}

	h4,
	.h4 {
		font-size: $h4-medium;
	}

	p {
		font-size: $p-medium;
	}

	p.lead {
		font-size: $p-medium * $lead-value;
	}
}

@media #{$small} {
	h1,
	.h1 {
		font-size: $h1-small;
	}

	h2,
	.h2 {
		font-size: $h2-small;
	}

	h3,
	.h3 {
		font-size: $h3-small;
	}

	h4,
	.h4 {
		font-size: $h4-small;
	}
}
