body {
	margin: 0;
	padding: 0;
	background: $gray;
	word-wrap: break-word;
	font-family: $standard-font;
	font-weight: normal;
	line-height: 1.5;
	color: $black;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
