body {
	margin: 0;
	padding: 0;
	background: #fefefe;
	word-wrap: break-word;
	// font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-family: 'novecento', sans-serif;
	font-weight: normal;
	line-height: 1.5;
	color: #0a0a0a;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
