
footer {
	padding: 20px 0;
	text-align: center;
	color: #ccc;
	font-family: $title-font;

	.smm-links-list {
		display: inline-block;

		li {
			display: inline-block;
			vertical-align: top;

			img {
				width: 42px;
			}
		}
	}

	.colophon {
		text-decoration: none;
		color: inherit;

		span {
			text-decoration: underline;
		}

		&:hover {
			text-decoration: underline;
		}
	}
}
