
footer {
	height: 100px;
	top: 100px;
	position: relative;
	background: $gray;

	#sharing {
		text-align: center;
		height: 50px;

		ul {
			display: inline-block;
			vertical-align: top;
			margin-top: 20px;

			li {
				display: inline-block;
				vertical-align: top;

				img {
					height: 42px;
					width: 42px;
				}
			}
		}
	}

	#copyright {
		height: 50px;

		p {
			font-size: 14px;
			margin-top: 20px;
			margin-bottom: 0;
			color: #ccc;
			text-align: center;
		}
	}

	@media #{$medium} {
		top: 245px;
	}

	@media #{$small} {
		top: 210px;
		height: 115px;
	}
}


p#studio-n {
	font-size: 13px;
	color: #ccc;
	text-align: center;
	margin-top: 0 !important;

	a {
		text-decoration: none;
		color: #ccc;

		span {
			text-decoration: underline;
		}

		&:hover {
			text-decoration: underline;
		}
	}
}


.align-center {
	text-align: center;
}



.gallery-title h1 {
	font-size: 75px;
	margin-top: 40px;
	margin-bottom: 40px;
	margin-left: 20px;
}
