
footer {
	padding: 20px 0;
	text-align: center;

	.smm-links-list {
		display: inline-block;

		li {
			display: inline-block;
			vertical-align: top;

			img {
				width: 42px;
			}
		}
	}

	p {
		color: #ccc;
		font-family: $title-font;
	}

	#copyright {
		p {
			font-size: 14px;
			color: #ccc;
			text-align: center;
		}
	}

	@media #{$medium} {
		top: 245px;
	}

	@media #{$small} {
		top: 210px;
		height: 115px;
	}
}


p#studio-n {
	font-size: 13px;
	color: #ccc;
	text-align: center;
	margin-top: 0 !important;

	a {
		text-decoration: none;
		color: #ccc;

		span {
			text-decoration: underline;
		}

		&:hover {
			text-decoration: underline;
		}
	}
}


.align-center {
	text-align: center;
}



.gallery-title h1 {
	font-size: 75px;
	margin-top: 40px;
	margin-bottom: 40px;
	margin-left: 20px;
}
