
header {
	background: #fff;
	height: 100px;
	width: 100%;
	position: absolute;
	z-index: 999;
	top: 0;
	border-top: 7px solid $blue-gray;

	@media #{$large} {
		height: 125px;
	}

	@media #{$medium} {
		height: 240px;
	}

	#logo {
		padding-top: 10px;

		img {
			width: 340px;
		}
	}
}
