
header {
	background: #fff;
	height: 100px;
	width: 100%;
	position: absolute;
	z-index: 999;
	top: 0;
	border-top: 7px solid #405464;

	@media #{$large} {
		height: 125px;
	}

	@media #{$medium} {
		height: 240px;
	}

	#logo img {
		margin-top: 10px;
		width: 340px;
	}
}
