
@font-face {
    font-family:"Novecentosanswide-Book";
    src:url("novecento-sans-wide-book.woff2") format("woff2"),url("novecento-sans-wide-book.woff") format("woff"),url("novecento-sans-wide-book.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        